.top-content-carousel {
  padding: 0 4.8rem;
  overflow: hidden;

  // &__
}

.top-carousel-group {
  display: grid;
  grid-auto-flow: column;
  max-width: 100rem;
  margin: 0 auto;
  // overflow-x: scroll;
  padding: 0 1.6rem;
  // position: relative;
  // height: 35vh;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar {
    display: none;
  }
}

.top-carousel-container {
  position: relative;
  width: 100%;
}

.top-carousel-card {
  position: absolute;
  max-width: 83.1rem;
  left: 50%;

  &:nth-child(1) {
    transform: translateX(-35%) scale(1.1);
    z-index: 8;
  }

  &:nth-child(2) {
    transform: translateX(-45%);
    z-index: 7;
  }

  &:nth-child(3) {
    transform: translateX(-54%) scale(0.9);
  }

  &:nth-child(4) {
    transform: translateX(-25%);
    z-index: 7;
  }

  &:nth-child(5) {
    transform: translateX(-16%) scale(0.9);
  }

  &__logo {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    z-index: 2;

    img {
      height: 3.2rem;
    }
  }

  &__img {
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;

    img {
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: linear-gradient(
        hsla(240, 4%, 15%, 0),
        hsla(240, 4%, 15%, 0.9)
      );
      border-radius: 0.8rem;
      z-index: 1;
    }
  }

  &__content {
    position: absolute;
    max-width: 30.6rem;
    left: 2.4rem;
    bottom: 2.4rem;
    z-index: 2;

    span {
      font-size: 1.4rem;
      color: var(--cl-white);
      display: block;
    }

    span.track-title {
      font-weight: var(--fw-600);
    }

    span.text-explict {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: var(--fw-600);
      width: 2rem;
      height: 2rem;

      background: rgba(255, 255, 255, 0.12);
      border-radius: 0.3rem;
    }
  }
}
