.footer {
  padding: 8rem 0 20vh;

  &__footer {
    display: flex;

    @include respond(tablet-land) {
      flex-direction: column;
    }
  }

  &__auth {
    & > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4.8rem 0;

      @include respond(md-laptop) {
        padding: 4.8rem 1.6rem;
      }

      @include respond(tablet-land) {
        flex-direction: column;
      }
    }

    ul {
      list-style: none;
      display: flex;

      @include respond(tablet-land) {
        flex-direction: column;
        align-items: center;
        margin: 2.4rem 0;
        // justify-content: space-between;
      }

      & > *:not(:last-child) {
        margin-right: 2.4rem;

        @include respond(tablet-land) {
          margin-right: 0;
          margin-bottom: 2.4rem;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(---cl-white);
    }
  }

  &__left {
    flex-basis: 36rem;
    flex-shrink: 2;

    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    @include respond(tablet-land) {
      flex-basis: auto;
      align-self: flex-start;
      margin: 0 auto 4.8rem;
      // margin-bottom: 2.4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__socials {
    :not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;

    @include respond(tablet-land) {
      flex-direction: column;
    }
  }

  &__list {
    list-style: none;

    h4 {
      margin-bottom: 1.6rem;
    }

    @include respond(tablet-land) {
      text-align: center;
      margin-bottom: 4.8rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    a {
      text-decoration: none;
      color: var(---cl-white);
      transition: all 0.6s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
