.icon {
  stroke: var(--cl-white);

  &__primary {
    stroke: var(--cl-white);
    transition: all 0.2s;

    &:hover {
      stroke: var(--cl-p-500);
    }
  }

  &__dark {
    stroke: var(--cl-g-900);
  }
}
