.navbar {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding-top: 0.8rem;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.6rem 0;
  }

  &__logo {
    width: fit-content;
  }

  &__links {
    display: flex;

    @include respond(tablet-land) {
      grid-column: 1 / -1;
      grid-row: 2;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__links ~ .btn {
    @include respond(tablet-land) {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 3;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: var(---cl-white);
    padding: 0.8rem 1.2rem;
    transition: all 0.4s;

    &:not(:last-child) {
      margin-right: 2.4rem;

      @include respond(tablet-land) {
        margin-right: 0;
        margin-bottom: 2.4rem;
      }
    }

    &:hover {
      color: var(---cl-cultured);
    }
  }

  &__mobile {
    @include respond(tablet-land) {
      display: grid;
      grid-template-columns: 11.2rem 1fr 5rem;
      grid-template-rows: auto auto auto;
      gap: 2.4rem;
      position: absolute;
      background-color: var(--cl-g-900);
      left: 50%;
      top: 2.4rem;
      transform: translateX(-50%);
      width: 95%;
      padding: 1.6rem;
      border-radius: 0.8rem;
    }
  }

  &__nav-li {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 3.2rem;

      @include respond(tablet-land) {
        margin-right: 0;
      }
    }

    @include respond(tablet-land) {
      flex-direction: column;
    }
  }

  &__hidden {
    @include respond(tablet-land) {
      display: none;
    }
  }

  &__hamburger {
    display: none;

    @include respond(tablet-land) {
      display: flex;
      flex-direction: column;
      grid-column: 2;
      justify-self: end;
      cursor: pointer;
    }

    span {
      display: inline-block;
      width: 3rem;
      height: 0.2rem;
      background-color: var(--cl-white);
      margin-bottom: 0.7rem;
      border-radius: 10rem;
    }
  }

  &__close {
    display: none;

    @include respond(tablet-land) {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 9%;
      right: 5%;
    }

    span {
      display: inline-block;
      width: 2.4rem;
      height: 0.2rem;
      background-color: var(--cl-white);
      // margin-bottom: 0.7rem;
      border-radius: 10rem;
    }

    span:nth-of-type(1) {
      transform: translateX(0.5px) rotate(45deg);
    }

    span:nth-of-type(2) {
      transform: translateY(-2px) rotate(-45deg);
    }
  }
}
