.border-right {
  display: inline-block;
  border-right: 1px solid var(--cl-white);
  padding-right: 6.4rem;

  @include respond(tablet-land) {
    border: none;
    padding-right: 0;
  }
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.rotate-180 {
  transform: rotate(0deg) !important;
  transition: all 0.4s;

  &:hover {
    transform: rotate(180deg) !important;
  }
}
