.check-email {
  @extend .success;

  &__caption {
    @extend .signup__caption;
    max-width: 45rem;

    p {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__open {
    @extend .form;
  }
}
